# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: weekly
    allow:
      - dependency-name: "buf.build/gen/go/krelinga*"
    groups:
      buff-schema-registry:
        patterns:
          - "*"

# TODO: consider something to run dependabot manually to pick up proto buffer changes.
# see https://github.com/dependabot/example-cli-usage for some inspiration.
